page-detail-alimentation {

  h1 {
    text-align: center;
    color: #4d4d4d;
  }

  input {
    width:auto;
    height: 35px;
    background-color: transparent;
    border-radius: 8px;
    border-color: #222222;
    text-indent: 25px;
    font-size: 1.5em;
    color: #222222;
    :focus {
      color: #ffffff;
    }
  }


}
