page-mesure {

  h1 {
    text-align: center;
    color: #4d4d4d;
  }

 .ionDateTime{
   margin-top: 50px;
 }

  .button {
    width: 300px;
    height: 40px;
    background-color: #488aff;
    color: #ffffff;
    border-radius: 9px;
    margin-top: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
