page-prepare-alimentation {

  .myTables {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .myTables td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .myTables tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .myTables tr:hover {
    background-color: #ddd;
  }

  .myTables th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #51a7e8;
    color: white;
  }
}
